
/* import fonts from fonts.css file */
@import url(./fonts.css);

/* Start Navigation */

html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* CSS Variables */

:root{
    --primary-color:#4458dc;
    --primary-color2: #854fee;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, purple 0%, #854fee 100%);
    --shadow-color: 0px 10px 30px rgba(118,85,225,0.3);
    --box-shadow: 0px 10px 30px rgba(57,56,61,0.205);


    /* font family variables */
    --roboto: 'Roboto';
}

.header_area .main-menu .nav-item .nav-link {
    font: normal 500 15px/ 2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip:text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip:text;
}
/* End Navigation */

/* Start Banner */

.site-main .site-banner .site-title h1{
    font-size: 85px;
    margin-bottom: 20px;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
    margin-top: -50px;
    padding-top: 10%;
    font-weight: bold;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
    font-size: 200%;
}

.site-main .site-banner .site-title h5{
    font-size: 1.5rem;
    margin-top: -90px;
    padding-top: 10%;
    font-weight: bold;
}

.site-main .site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: black;
    margin-left: 30%;
    transform: translateY(-10px);
}

.site-main .site-banner .banner-image > img{
    padding: 1rem 0;
    margin-top: 20%;
    margin-right: 200px;
}

.title-text{
    font: normal bold 50px/72px var(--roboto);
}

.text-uppercase{
    text-transform: uppercase;
}

/* Buttons */

.button{
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px var(--roboto);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button.primary-button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.button.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color:black;
}

.button.primary-button::after, .button.secondary-button::after{
    position:absolute;
    top: -2px; left:-2px;
    bottom: -2px; right: -2px;
    background: var(--gradient-color);
    content:'';
    z-index: -1;
    border-radius: 4px;
}

.button.secondary-button{
    background: white;
    background-clip: padding-box;
    transition: background .6s ease;
}

.button.secondary-button:hover{
    background: var(--gradient-color);
    color: whitesmoke;
    box-shadow: var(--box-shadow);
}

@media only screen and (min-height: 500px) and (max-height: 650px) {
    .site-main .site-banner .site-title h1{
        font-size: 40px;
        margin-top: -40px;
    }
    
    .site-main .site-banner .site-title h4{
        font-size: .8rem;
        margin-top: -70px;
        padding-top: 10%;
        font-weight: bold;
    }

    .site-main .site-banner .site-title h5{
        font-size: .8rem;
        margin-top: -90px;
        padding-top: 10%;
        font-weight: bold;
    }
    .site-main .site-banner .site-title {
        margin-top: -15%;
        margin-left:10px;
    }

    .site-main .site-banner .site-title h3::after{
        content: "";
        height: 2px;
        width: 18vw;
        background: black;
        margin-left: 5%;
        transform: translateY(-10px);
    }

    .site-main .site-banner .banner-image > img{
        padding: 1rem 0;
        width: 195px;
        display: block;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width:500px) and (min-height: 650px) and (max-height: 730px) {
    .site-main .site-banner .site-title h1{
        font-size: 40px;
        margin-top: -30px;
        margin-bottom: 10px;
    }
    
    .site-main .site-banner .site-title h4{  
        margin-top: -70px;
        margin-left: 3px;
        font-size: 17px;
    }

    .site-main .site-banner .site-title h5{
        font-size: 17px;
        margin-top: -90px;
        margin-left: 3px;
        padding-top: 10%;
        font-weight: bold;
    }

    .site-main .site-banner .site-title h3::after{
        content: "";
        height: 2px;
        width: 18vw;
        background: black;
        margin-left: 5%;
        transform: translateY(-10px);
    }
    
    .site-main .site-banner .banner-image > img{
        padding: 1rem 0;
        width: 67%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        
    }
    .site-main .site-banner .site-title {
        margin-top: -10%;
        margin-left:10px;
    }
    .site-main .site-banner .site-title .site-buttons .button.primary-button{
        display: block;
        margin-left: 0px;
        margin-right: auto;
    }
    .site-main .site-banner .site-title .site-buttons .button.secondary-button{
        display: block;
        margin-left: 0px;
        margin-right: auto;
    }
}

@media only screen and (max-width:500px) and (min-height: 730px) and (max-height:1020px){
    .site-main .site-banner .site-title h1{
        font-size: 50px;
        margin-top: -20px;
        margin-bottom: 40px;
    }
    
    .site-main .site-banner .site-title h4{  
        margin-left: 2px;
        margin-top: -100px;
        margin-bottom: 50px;
        font-size: 15px;
    }

    .site-main .site-banner .site-title h5{
        font-size: 15px;
        margin-left: 2px;
        margin-top: -130px;
        padding-top: 10%;
        font-weight: bold;
    }

    .site-main .site-banner .site-title {
        margin-top: -13%;
        margin-left:10px;
    }

    .site-main .site-banner .site-title h3::after{
        content: "";
        height: 2px;
        width: 18vw;
        background: black;
        margin-left: 5%;
        transform: translateY(-10px);
    }
    
    .site-main .site-banner .banner-image > img{
        padding: 1rem 0;
        width: 310px;
        display: block;
        margin-top: -10px;
        margin-left: auto;
        margin-right: auto;
    }
    .site-main .site-banner .site-title .site-buttons .button.primary-button{
        display: block;
        margin-left: 20px;
        margin-right: auto;
    }
    .site-main .site-banner .site-title .site-buttons .button.secondary-button{
        display: block;
        margin-left: 0px;
        margin-right: auto;
    }

}

@media only screen and (max-width:500px) and (min-height: 1020px) and (max-height: 1250px) {
    .site-main .site-banner .site-title h1{
        font-size: 50px;
        margin-top: -20px;
    }
    
    .site-main .site-banner .site-title h4{  
        margin-top: -100px;
        font-size: 20px;
    }
    .site-main .site-banner .site-title h3{
        margin-top: -80px;
        padding-top: 35%;
        font-weight: 500;
        font-size: 20px;
    }

    .site-main .site-banner .site-title h5{
        font-size: 20px;
        margin-top: -110px;
        padding-top: 10%;
        font-weight: 500;
    }

    .site-main .site-banner .site-title h3::after{
        content: "";
        height: 2px;
        width: 18vw;
        background: black;
        margin-left: 5%;
        transform: translateY(-10px);
    }
    
    .site-main .site-banner .banner-image > img{
        padding: 1rem 0;
        width: 380px;
        display: block;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }
}


@media only screen and (max-width: 800px) {
    .button{
        padding: .8rem 2rem;
        font: normal 50 15px/10px var(--roboto);
        position: relative;
        border: 3px solid transparent;
        border-radius: 2px;
        margin: auto;
    }
}

p.para{
    color: var(--text-color);
    font: normal 500 16px / 25px var(--roboto);
}


/* End Banner */

/* Start About */

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-image > img{
    margin-top: 120px;
    padding: 1rem 0;
    width: 500px;

}

.site-main .about-area .about-title h2 >span{
    margin-top: 0px;
    margin-left: 50px;
    display: block;
    font: normal bold 39px / 60px var(--roboto);
    letter-spacing: 1px;
    
}

.site-main .about-area .about-title .para{
    padding: 1rem 0;
    font-size: 17px;
    margin-top: -10px;
    margin-bottom: 0px;
    
}

.site-main .about-area .about-title .panels {
    box-shadow: 0 1rem 2rem #00000080;
    width:600px;
    border-radius:3px;
    overflow:hidden;
    padding:25px;  
    margin: auto;
    min-height:200px;
}

.site-main .about-area .about-title .button{
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

@media only screen and (max-width: 800px) {
    .site-main .about-area .about-image > img{
        margin-top: 48px;
        padding: 1rem 0;
        width: 15rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .site-main .about-area .about-title .para{
        padding: 1rem 0;
        font-size: 13px;
        margin-top: -10px;
        margin-bottom: 0px;
}

    .site-main .about-area .about-title .panels {
        background:#fffffff6;
        box-shadow: 0 1rem 2rem #00000080;
        width:280px;
        border-radius:3px;
        overflow:hidden;
        padding:15px;  
        margin: auto;
        min-height:200px;
    }
    .site-main .about-area .about-title h2 >span{
        margin-top: 0px;
        margin-left: auto;
        display: block;
        font: normal bold 30px / 60px var(--roboto);
        letter-spacing: 1px;
        
    }
    .site-main .about-area .about-title .button{
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 280px;
    }
}

/* End About */

/* Start Work */
.site-main .work-area .work-title h1{
    margin-top: 100px;
    margin-bottom: -28px;
    display: block;
    font: normal bold 39px / 60px var(--roboto);
    letter-spacing: 1px;
}

.site-main .work-area .job {
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
    width: 100%;
}

.site-main .work-area .job .job-img {
    padding: 2rem;
    width: 100%;
}

.site-main .work-area .job .about-job{
    padding-top: 2rem;
}
.site-main .work-area .job .about-job h4{
    display: block;
    font: normal 500 19px/ 20px var(--roboto);
    width: 100%;
    margin-bottom: 20px;
}

.site-main .work-area .job .about-job h5{
    display: block;
    font: normal 500 15px/ 20px var(--roboto);
    width: 100%;
    margin-bottom: 20px;
}

.site-main .work-area .job .about-job p{  
    font-size: 14px;
    width: 100%;
}


.site-main .work-area .owl-carousel .owl-item{
    display:flex;
    justify-content:center;
    padding: 0 1.5rem;
}

.site-main .work-area .owl-carousel .owl-dots .owl-dot.active span{
    background-color: var(--primary-color);
    width: 1000;
    height: 12px;
    
}

@media only screen and (max-width: 800px) {
    .site-main .work-area .work-title h1{
        margin-top: 0px;
        margin-bottom: -20px;
        display: block;
        font: normal bold 23px / 60px var(--roboto);
        letter-spacing: 1px;
    }
    
    .site-main .work-area .job {
        background: #ffffff10;
        box-shadow: var(--box-shadow);
        margin: 3rem 0rem;
        width: 100%;
    }
    
    .site-main .work-area .job .job-img {
        padding: 2rem;
        width: 200px;
        margin-bottom: -20px;
    }
    
    .site-main .work-area .job .about-job{
        padding-top: 2rem;
    }
    .site-main .work-area .job .about-job h4{
        display: block;
        font: normal 500 19px/ 20px var(--roboto);
        width: 100%;
    }
    
    .site-main .work-area .job .about-job p{  
        font-size: 14px;
        width: 100%;
    }
    
    
    .site-main .work-area .owl-carousel .owl-item{
        display:flex;
        justify-content:center;
        padding: 0 1.5rem;
    }
    
    .site-main .work-area .owl-carousel .owl-dots .owl-dot.active span{
        background-color: var(--primary-color);
        width: 100;
        height: 12px;
    }
        
}

@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

h2{
  color:#000;
  text-align:center;
  font-size:2em;
}

.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
}


.panels{
  background:#fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  min-height:200px;
  width:300px;
  border-radius:3px;
  overflow:hidden;
  padding:15px;  
  margin: auto;
  
}


.site-main .work-area .panels .job-img {
    position: absolute;
    top: 0px;
    right: 1000px;
}
/* End Work */

/* Start Projects */

@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

.site-main .project-area .project-title h1{
    margin-top: 100px;
    margin-bottom: 30px;
    display: block;
    font: normal bold 39px / 60px var(--roboto);
    letter-spacing: 1px;
}

.site-main .project-area .para {
    padding: 1rem 0;
    font-size: 17px;
    margin-top: -10px;
    margin-bottom: -20px;
}
.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    padding: 0 1rem;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 30px;
    font-family: sans-serif;
    padding-top: 30px;
}

.cards * {
    box-sizing: border-box;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    box-shadow: 0 2rem 2rem #00000080;
    border-top: 2px;
    border-right: 2px; 
    border-left: 2px;
}

.site-main .project-area .cards .card__content .proj-title h1 {
    font-size:20px;
    margin-left: -15px;
}

.site-main .project-area .cards .card__content .proj-title .para {
    margin-left:100px;
}

.card__content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
    box-shadow: 0 2rem 2rem #00000080;
    border-right: 2px;
    border-left: 2px;
}

.card__content > p:first-of-type {
    margin-top: 0;
}

.card__content > p:last-of-type {
    margin-bottom: 0;
}

.card__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
    box-shadow: 0 2rem 2rem #00000080;
    border-bottom: 2px;
    border-right: 2px;
    border-left: 2px;
    
}

.card__info i {
    font-size: 0.9em;
    margin-right: 8px;
}

.card__link {
    color: #64968c;
    text-decoration: none;
}

.card__link:hover {
    text-decoration: underline;
    
}

.site-main .project-area .cards .proj-1, .proj-2, .proj-3, 
.proj-4, .proj-5, .proj-6, .proj-7, .proj-8, .proj-9, 
.proj-10, .proj-11, .proj-12 {
    height: 12rem;
    margin-top: -10px;
}
@media only screen and (max-width: 800px) {
    .site-main .project-area .project-title h1{
        margin-top: 100px;
        margin-bottom: -10px;
        display: block;
        font: normal bold 28px / 60px var(--roboto);
        letter-spacing: 1px;
    }

    .site-main .project-area .para {
        padding: 1rem 0;
        font-size: 14px;
        margin-top: -10px;
        margin-bottom: -20px;
        margin-left: 10px;
    }

    .site-main .project-area .cards .card__content .proj-title h1 {
        font-size:20px;
        margin-left: -5px;
    }

    .cards {
        margin-right: 50px;
        margin-left: 50px;
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        grid-auto-rows: auto;
        gap: 40px;
        font-family: sans-serif;
        padding-top: 30px;
        
    }
}

/* End Project */

/* Start Skills */

.site-main .techs-area{
    padding: 7rem 2rem;
}


.site-main .techs-area .techs-title h1{
    margin-top: 100px;
    margin-bottom: 30px;
    display: block;
    font: normal bold 39px / 60px var(--roboto);
    letter-spacing: 1px;
}

.site-main > .techs-area .techs{
    background: rgba(234, 243, 245, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 2rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .techs-area .techs:hover{
    box-shadow: var(--box-shadow);
}

.site-main .techs-area .techs-list .techs1-img > img{
    width:100px
}

.site-main .techs-area .techs-list .techs2-img > img{
    width:150px;
    margin-top:-20px;
    margin-bottom: -15px;
}

.site-main .techs-area .techs-list .techs3-img > img{
    width:100px;
    margin-bottom: 13px;
}

.site-main .techs-area .techs-list .techs4-img > img{
    width:110px;
    margin-top:-10px;
    margin-bottom: 10px;
}

.site-main .techs-area .techs-list .techs5-img > img{
    width:100px;
    margin-top:30px;
    margin-bottom: 25px;
}

.site-main .techs-area .techs-list .techs6-img > img{
    width:150px;
    margin-top:0px;
    margin-bottom: 28px;
}
.site-main .techs-area .techs-list .techs7-img > img{
    width:200px;
    margin-top:45px;
    margin-bottom: 30px;
}

.site-main .techs-area .techs-list .techs8-img > img{
    width:200px;
    margin-top:-20px;
    margin-bottom: -10px;
}

.site-main .techs-area .techs-list .techs9-img > img{
    width:220px;
    margin-top:-0px;
    margin-bottom: 10px;
}

.site-main .techs-area .techs-list .techs10-img > img{
    width:120px;
    margin-top:-0px;
    margin-bottom: -15px;
}

.site-main .techs-area .techs-list .techs11-img > img{
    width:90px;
    margin-top:-10px;
    margin-bottom: -15px;
}

.site-main .techs-area .techs-list .techs12-img > img{
    width:140px;
    margin-top:-15px;
    margin-bottom: -25px;
}


@media only screen and (max-width: 800px) {
    .site-main .techs-area{
        padding: 7rem 2rem;
    }
    
    .site-main .techs-area .techs-title h1{
        margin-top: 100px;
        margin-bottom: 30px;
        display: block;
        font: normal bold 39px / 60px var(--roboto);
        letter-spacing: 1px;
    }
    
    .site-main > .techs-area .techs{
        background: rgba(234, 243, 245, 0.973);
        display: block;
        padding: 2rem 0;
        width: 15rem;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        transition: box-shadow .7s ease;
    }
    
    .site-main > .techs-area .techs:hover{
        box-shadow: var(--box-shadow);
    }
    
    .site-main .techs-area .techs-list .techs1-img > img{
        width:80px;
        margin-top: -25px;
    }
    
    .site-main .techs-area .techs-list .techs2-img > img{
        width:100px;
        margin-top:-30px;
        margin-bottom: -15px;
    }
    
    .site-main .techs-area .techs-list .techs3-img > img{
        width:80px;
        margin-top: -22px;
        margin-bottom: 0px;
    }
    
    .site-main .techs-area .techs-list .techs4-img > img{
        width:80px;
        margin-top:-20px;
        margin-bottom: 10px;
    }
    
    .site-main .techs-area .techs-list .techs5-img > img{
        width:80px;
        margin-top:-10px;
        margin-bottom: 25px;
    }
    
    .site-main .techs-area .techs-list .techs6-img > img{
        width:120px;
        margin-top:-15px;
        margin-bottom: 28px;
    }
    .site-main .techs-area .techs-list .techs7-img > img{
        width:130px;
        margin-top:0px;
        margin-bottom: 30px;
    }
    
    .site-main .techs-area .techs-list .techs8-img > img{
        width:150px;
        margin-top:-40px;
        margin-bottom: -10px;
    }
    
    .site-main .techs-area .techs-list .techs9-img > img{
        width:140px;
        margin-top:-10px;
        margin-bottom: 10px;
    }
    
    .site-main .techs-area .techs-list .techs10-img > img{
        width:90px;
        margin-top:-20px;
        margin-bottom: -15px;
    }
    
    .site-main .techs-area .techs-list .techs11-img > img{
        width:68px;
        margin-top:-25px;
        margin-bottom: -15px;
    }
    
    .site-main .techs-area .techs-list .techs12-img > img{
        width:110px;
        margin-top:-35px;
        margin-bottom: -25px;
    }
}

/* Start Skills */

/* Start Footer */
.site-footer
{
  background-color:#4B0082;
  padding:45px 0 20px;
  font-size:15px;
  font: normal 500 15px/ 2px var(--roboto);
  line-height:24px;
  color:white;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
}
.copyright-text
{
  margin:0
}

.web-source > a{
    margin:0;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0;
  }
  .site-footer .copyright-text,.site-footer .social-icons, .site-footer .web-source > a
  {
    text-align:center;
    display: block;
    width: 100%;
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}

.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons > a:nth-child(5):hover
{
  background-color:#696969
}
.social-icons > a:nth-child(4):hover
{
  background-color:#E1306C;
}
.social-icons > a:nth-child(3):hover
{
  background-color:#3b5998;
}
.social-icons > a:nth-child(2):hover
{
  background-color:#007bb6;
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* End Footer */